---
// Props
type Props = {
  data: any;
  heading: string;
  highlight?: string;
  allContent?: boolean;
  limit?: number;
  query?: string;
};
const {
  data: avatars,
  heading,
  highlight,
  allContent = false,
  limit = 5,
  query = "",
} = Astro.props;

// imports
import AvatarCard from "../components/Card/Avatar.astro";
---

<section id="explore" class="bg-primary-extra rounded-2xl mx-2 py-8 px-4 my-10">
  <!-- heading  -->
  <div class="mb-10 break-words">
    <h2
      class="text-3xl md:text-4xl select-none ml-2 pl-1.5 text-left tracking-wide pb-2 font-bold"
    >
      <span
        class="inline-block md:mr-5 mr-2 w-2 p-0 zigzag-underline border-transparent border-1 bg-gradient-to-r from-indigo-600 via-indigo-600 to-indigo-700 transform -skew-x-12 transform-origin-left text-transparent text-thin"
        >.</span
      >
      {heading}
      <span
        class="md:mx-4 ml-1 text-transparent bg-clip-text bg-gradient-to-tl from-indigo-900 via-indigo-500 to-indigo-700"
      >
        {highlight}
      </span>
    </h2>
  </div>
  <!-- grid  -->
  {
    avatars?.length == 0 && (
      <div class="justify-center items-center flex w-full my-40">
        <div class="text-center text-3xl break-words">No Results Found ⊙﹏⊙∥</div>
      </div>
    )
  }
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {
      !allContent &&
        avatars?.slice(0, limit).map((data: any) => <AvatarCard data={data} />)
    }
    {allContent && avatars?.map((data: any) => <AvatarCard data={data} />)}
    {
      avatars?.length >= limit && !allContent && (
        <a
          href={`/explore?q=${query.toLowerCase()}#explore`}
          aria-label={`explore more`}
        >
          <div class="group h-full text-center hover:brightness-110 cursor-pointer rounded-2xl bg-gradient-to-br hover:from-primary hover:via-primary-dark hover:to-primary from-primary/50 via-primary to-primary-dark p-1 shadow-xl transition hover:shadow-sm">
            <div class="rounded-2xl grid h-full place-items-center w-full bg-primary-light p-4 md:p-6">
              <div class="flex justify-center items-center">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-20 h-20"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.5 12a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm6 0a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm6 0a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <h2>Explore More</h2>
              </div>
            </div>
          </div>
        </a>
      )
    }
  </div>
</section>
