---
// props
export interface Props {
  title?: string;
  description?: string;
  img?: string;
}
const {
  title = "Avatars for Every Mood, Avatar Archives for You",
  description,
  img,
} = Astro.props;

// imports
import { ViewTransitions } from "astro:transitions";

// meta
const meta = {
  get title(): string {
    return title.charAt(0).toUpperCase() + title.slice(1);
  },
  get img(): string {
    return img ?? `/banner.png`;
  },
  get description(): string {
    const defaultDesc = `
    Discover a wide variety of static and animated avatars for popular social platforms like Discord, Instagram, Reddit, Slack, and more at AvatarArchives. Express your unique personality and enhance your online presence with our diverse collection of eye-catching avatars. Stand out in the digital world and make a statement with AvatarArchives.
    `.trim();
    const desc = description
      ?.replaceAll("*", "")
      .replaceAll("#", "")
      .replaceAll("__", "")
      .trim();
    const finalDesc = desc + "\n" + defaultDesc;
    return finalDesc.split("").splice(0, 152).join("") + "...";
  },
};

// components
import Header from "../components/header.astro";
import Modal from "../components/UI/Modal.svelte";
import GA from "../components/GA.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Head  -->
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="google-site-verification" content="TD_WvL_1cy7ZqjxPDs8LSSnw2QSA_SRwoe2atN_L37Y" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- gen  -->
    <title>{meta.title} | AvatarArchives</title>
    <meta name="description" content={meta.description} />
    <!-- meta  -->
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="ArnavK-09" />
    <meta name="copyright" content="ArnavK-09" />
    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- og tags  -->
    <meta property="og:title" content={meta.title} />
    <meta property="og:site_name" content="AvatarArchives" />
    <meta property="og:url" content="https://github.com/ArnavK-09" />
    <meta property="og:description" content={meta.description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={meta.img} />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://github.com/ArnavK-09" />
    <meta property="twitter:title" content={meta.title} />
    <meta property="twitter:description" content={meta.description} />
    <meta property="twitter:image" content={meta.img} />
    <script src="/script.js" is:inline></script>
    <!-- google -->
    <GA id="G-FKPLFGLX09" />
  </head>
  <body transition:animate="fade" class="bg-primary-light text-white">
    <Modal client:load />
    <header><Header /></header>
    <slot />
    <footer></footer>
    <style is:global>
      /* font  */
      html,
      body {
        -webkit-tap-highlight-color: transparent;
        font-family: "Pixelify Sans", sans-serif;
        scroll-behavior: smooth;
      }

      /* href selection outline  */
      .noSelect {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        user-drag: none;
        -webkit-user-drag: none;
      }
      .noSelect:focus {
        outline: none !important;
      }

      /* text selectio outline  */
      ::-moz-selection {
        /* Code for Firefox */
        color: #2b2d31;
        background: #5865f2;
      }

      ::selection {
        color: #2b2d31;
        background: #5865f2;
      }

      /* scrollbar */
      ::-webkit-scrollbar {
        width: 8px;
      }

      ::-webkit-scrollbar-track {
        box-shadow: transparent;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background: rgb(88, 101, 242);
        background: linear-gradient(
          176deg,
          rgba(88, 101, 242, 1) 35%,
          rgba(52, 66, 217, 1) 100%
        );
        border-radius: 5%;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: rgb(52, 66, 217);
        border-radius: 5%;
        background: linear-gradient(
          176deg,
          rgba(52, 66, 217, 1) 35%,
          rgba(88, 101, 242, 1) 100%
        );
      }

      /* hash tag  */
      .hashtag {
        color: rgb(88, 101, 242);
        color: radial-gradient(
          circle,
          rgba(88, 101, 242, 1) 50%,
          rgba(52, 66, 217, 1) 100%
        );
      }
    </style>
  </body>
</html>
